.stars-ratio-container {
    position: relative;
    width: 100px;
    background: #e5d149;

}

.progress {
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 0;
    right: -1%;
    bottom: 0;
    background: #fff;
    transition: 1s ease;
}

.stars-img {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
    width: 100%;
}